.formacion {
  position: relative;
  box-sizing: border-box;
  width: 100%; }

.cursos {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-between;
  grid-column-gap: 10px;
  grid-row-gap: 10px; }

.curso-nombre {
  font-weight: bolder; }

@media (min-width: 755px) {
  .cursos {
    grid-template-columns: auto auto; } }
