.info2 {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 10px 0; }
  .info2 .thiscv {
    padding: 4px;
    font-size: 13px;
    background-color: white;
    border: 0.7px solid grey;
    border-radius: 6px;
    box-shadow: 2px 2px 1px grey;
    display: inline-block;
    left: 0; }

@media print, (min-width: 794px) {
  .info2 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px; }
    .info2 .thiscv {
      left: auto; }
  /*
    .autorizo {

        position: absolute;
        bottom: 0;
        left: 0;
        margin: 30px;
    }
*/ }
