main {
  display: flex;
  flex-wrap: wrap; }

.job {
  position: relative;
  margin-top: 10px;
  padding-bottom: 7px; }
  .job:last-child {
    padding-bottom: 0; }
  .job .logo {
    width: 60px;
    height: 60px;
    padding: 8px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid grey;
    background-color: white; }
    .job .logo img {
      width: 60px;
      height: 60px; }
  .job .texto {
    margin-left: 100px; }

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-bottom: 1px solid black;
  margin-top: 10px;
  color: dimgray; }

.titulo-grande {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-family: 'Permanent Marker',cursive;
  padding-left: -5px; }

.empresa {
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px; }

.puesto {
  margin-top: 3px;
  margin-bottom: 5px;
  font-weight: bold; }

main p, footer p {
  text-align: justify;
  text-justify: auto;
  overflow-wrap: break-word;
  font-size: 13px;
  line-height: 1.3em; }

.fecha {
  margin-right: 1em; }

.row1 {
  margin-right: 0;
  margin-left: 0;
  padding: 0; }

.row2 {
  margin: 0;
  padding: 0; }

.main p {
  margin-bottom: 5px; }

.info p {
  margin: 0; }

@media screen and (min-width: 700px) {
  main {
    flex-wrap: nowrap;
    justify-content: flex-start; }
  .row1 {
    margin-right: 10px;
    margin-left: 0;
    flex: 2 1 500px; }
  .row2 {
    flex: 1 1 250px; } }
