@media print {
  @page {
    size: A4 portrait;
    margin: 0; }
  html {
    padding-top: 0;
    padding-bottom: 0; }
  .idiomas {
    display: none; }
  .box-container {
    padding: 30px;
    height: 1123px;
    width: 794px;
    box-shadow: none; }
  body {
    width: 794px;
    height: 1123px;
    background-color: transparent;
    background-image: none;
    -webkit-print-color-adjust: exact; }
  .section, header {
    background-color: transparent; }
  .thiscv spam {
    display: initial !important; }
  .cursos {
    grid-template-columns: auto auto; } }
