.formacion {
    position: relative;
    box-sizing: border-box;
    width: 100%;

}

.cursos {

    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
    //border: 2px solid red;

    //grid-column-gap: 10px;
    grid-row-gap: 10px;
}

// .curso{
//     border: 2px solid green;
// }

.curso-nombre {
    font-weight: bolder;

}

@media screen and (min-width: 755px) {

    .cursos{
        grid-template-columns: auto auto;
    }
}