
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');


//$main_font: 'Baloo Bhaijaan', sans-serif;
$main_font: arial, sans-serif;
$title_font: 'Permanent Marker',sans-serif;
$tam_font: 13px;

@import 'page';
@import 'header';
@import 'main';
@import 'skills';
@import 'cursos';
@import 'info';
@import 'print';

