header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #f0f0f0;
    //background-color: rgba(0, 0, 10, 0.1);
    justify-content: space-between;
    //border-radius: 20px;
    padding: 10px;
}

    
.me {
    order: 2;
    flex-grow: 1;
    flex-shrink: 2;
    flex-basis: 160px;
    margin: 10px;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: content-box;
    margin: auto;
    
    max-width: 230px;
}



.me img{
    width: 100%;
    //mix-blend-mode: luminosity;
    display: block;
    filter: grayscale(100%);
    //filter: sepia(50%);
    
}


.titulos {
    order: 1;
    width: 100%;
    text-transform: uppercase;
    padding: 0 20px 0 20px;
    //border: 1px solid red;
    text-align: left;
    margin-top: 10px;


    & .nombre {

        font-family: $title_font;
        font-size: 2em;
        line-height: 1em;
        margin-top: 10px;
        margin-bottom: 20px;
        white-space: wrap;
        //border: 2px solid red;
    }

    
    & h2 {
        font-size: 19px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
 
         
        font-size: 100;
        white-space: nowrap;
        margin-bottom: 20px;
        //border: 2px solid red;
    }
}




.links {
    order: 3;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 10px;
    font-size: 13px;
    margin-top: auto;
    margin-bottom: auto;
}


.box_links {
    width: 200px;
    //border: 2px solid green;

}

.link {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    //border: 1px solid blue;
    padding: 0;
    
    p{
        display: inline-block;
        margin-left: 10px;
        padding: 0;
        align-self: center;
    }

    a{
         text-decoration: inherit;
         color: inherit;
    }

    a:hover {
        color: blue;
    }
    
}


.svg {
    width: 22px;
    height: 22px;
    display: flex;
    align-content: center;
    padding: 0;
    align-self: center;
    //border: 2px solid red;   
}

.svg img {
    max-width: 100%;
    max-height: 100%;
    //object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    //border: 1px solid green;
    
}




@media print, (min-width: 620px) {
    header{
        flex-wrap: nowrap;
        //background-color: yellow;
    }

    .me {
        order: 1;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 180px;
    }

    .titulos {
        order: 2;
        width: auto;
        text-align: left;
        margin-right: initial;
           //para pegar la izquierda
        margin-right: auto;
    }
}



.idiomas {
    position: absolute;
    right: 0;
    top: -15px;
    font-size: 13px;

    display: none ;

    a {
        color: grey;
        text-decoration: none;
        margin-left: 1em;

    }

    a:hover {
        color: blue;
    }
}


