.autorizo {

    padding: 4px;
    position: static;
    font-size: 12px;
}



.thiscv{
    padding: 4px;
    position: static;
    font-size: 13px;
    background-color: white;
    border: 0.7px solid grey;
    border-radius: 6px;

    //width: 270px;
    box-shadow: 2px 2px 1px grey;
    //margin: 30px;
    
 

    & spam{
        display: none;
        //border: 2px solid red;
    }
}

@media print, (min-width: 794px) {

    .thiscv {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 30px;
    }

    .autorizo {

        position: absolute;
        bottom: 0;
        left: 0;
        margin: 30px;
    }

}

