$margen: 10px;
$grey_color: rgb(105, 105, 105);

main {
    display: flex;
    flex-wrap: wrap;

}



.job {
    position: relative;
    margin-top: 10px;
    padding-bottom: 7px;
   // border: 1px solid green;
    //margin-bottom: 10px;
    //border: 2px solid red;

    &:last-child{

        //border: 1px solid red;
        padding-bottom: 0 ;
    }

    .logo {
        width: 60px;
        height: 60px;
        padding: 8px;
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid grey;
        background-color: white;
        display: none;

        img{

            width: 100%;
            //height: 60px;
        }
    }



    .puesto {
        margin-top: 3px;
        margin-bottom: 10px;
        //color: blue;
        font-weight: bold;

    }

}




.info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    margin-top: $margen;
    color: $grey_color;

}

.titulo-grande {
    font-family: $title_font;
    text-transform: uppercase;
    margin-bottom: $margen;
    font-size: 1.2em;
    padding-left: -5px;
}

// .empresa {
//     text-transform: uppercase;
//     margin-top: 15px;
//     margin-bottom: $margen;
// }






main p, footer p{
    text-align: justify;
    text-justify: auto;
    overflow-wrap: break-word;
    font-size: $tam_font;
    line-height: 1.3em;
    //margin-bottom: 5px;
}

main p{
  margin-bottom: 6px;
}

ul{
  font-size: $tam_font;
}



.fecha{
    margin-right: 40px;
    //border: 2px solid red;
}

.info p {
    white-space: nowrap;
    flex-shrink: 0;
    flex-grow: 0;
    
}


.row1, .row2 {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    //background-color: rgba(200, 0, 100, 0.5);
}

.row1{
  order:2;
}

.row2{
  order:1;
}


@media print, (min-width: 500px) {
  .job .logo{
    display: block;
  }
  .job .texto{
    
    margin-left: 100px;
    
  }


}



@media print, (min-width: 700px) {

    main {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .row1 {
        margin-right: 10px;
        margin-left: 0;
        flex: 2 1 500px;
        order:1;
    }

    .row2 {
        flex: 1 1 250px;
        order:2;
    }

 

}
