@page {
  size: A4 portrait;
  margin: 0; }

body * {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif; }

body {
  margin: auto;
  align-content: center;
  background-color: whitesmoke;
  background-image: linear-gradient(45deg, #6f47ed 0%, #6f47ed 21%, #655ce9 21%, #655ce9 30%, #5b70e5 30%, #5b70e5 35%, #5285e2 35%, #5285e2 51%, #489ade 51%, #489ade 72%, #3eaeda 72%, #3eaeda 81%, #34c3d6 81%, #34c3d6 100%);
  min-width: 300px;
  max-width: 794px; }

.box-container {
  position: relative;
  padding-top: 25px;
  padding-right: 2vw;
  padding-left: 2vw;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.5); }

.section {
  padding: 10px;
  font-family: arial, sans-serif;
  margin-top: 10px;
  position: relative;
  display: block;
  background-color: white;
  background-color: #f0f0f0; }

@media (min-width: 794px) {
  .box-container {
    height: 1123px;
    padding: 30px; }
  html {
    padding-top: 50px;
    padding-bottom: 50px; }
  .idiomas {
    position: absolute;
    top: -50px !important;
    font-size: 15px !important; }
    .idiomas a {
      color: black !important; } }
