
<footer class="footer">

    <section class="formacione section">
        <h2 class="titulo-grande">Formación</h2>
        <div class="cursos">

            <div class="curso">
                <p class="curso-nombre">Educación Secundaria</p>
                <div class="curso-info">
                    <p class="curso-lugar">I.E.S. Pinar de la Rubia</p>
                    <p class="curso-fecha">2001 - 2005</p>
                </div>
            </div>


            <div class="curso">
                <p class="curso-nombre">Curso creación paginas web (240h)</p>
                <div class="curso-info">
                    <p class="curso-lugar">Csg.lab - Centro de Formación Profesional (Udine, Italia)</p>
                    <p class="curso-fecha">Septiembre 2019 - Enero 2020</p>
                </div>
            </div>
            
            <div class="curso">
                <p class="curso-nombre">Curso introducción al desarrollo Web (80h)</p>
                <div class="curso-info">
                    <p class="curso-lugar">Grow with google</p>
                    <p class="curso-fecha">Noviembre 2018</p>
                </div>
            </div>

            <div class="curso">
                <p class="curso-nombre">Curso creación de documentos electronicos accesibles</p>
                <div class="curso-info">
                    <p class="curso-lugar">ILUNION / Fundación ONCE</p>
                    <p class="curso-fecha">Marzo 2017</p>
                </div>
            </div>

            <div class="curso">
                <p class="curso-nombre">Curso Socorrismo</p>
                <div class="curso-info">
                    <p class="curso-lugar">RFESS</p>

                    {# <p class="curso-lugar">La Real Federación Española de Salvamento y Socorrismo</p> #}
                    <p class="curso-fecha">Noviembre 2017</p>
                </div>
            </div>


            {# <div class="curso">
                <p class="curso-nombre">Corso istruttore di nuoto</p>
                <div class="curso-info">
                    <p class="curso-lugar">FIPSAS</p>
                    <p class="curso-fecha">Novembre 2019 - Gennaio 2020</p>
                </div>
            </div> #}



{# 
            <div class="curso">
                <p class="curso-nombre">Corso di prestampa</p>
                <div class="curso-info">
                    <p class="curso-lugar">Centro di formazione ETAF</p>
                    <p class="curso-fecha">2007</p>
                </div>
            </div> #}


         
        </div> <!-- fin cursos -->
    </section> <!-- fin formacion -->
    
</footer>

