<main class="main">        

    <!-- row1 -->
    <div class="row1">
        <section class="experiencia section">    
            <h2 class="titulo-grande" >Esperiencia Profesional</h2>
            
            <article class="job">
                <div class="logo">
                    <img src="{{ prefijo }}/img/logo_af.png">
                </div>
                
                <div class="texto">
                    <!-- <h3 class="empresa">ALCAÑIZ FRESNO’S S.A.</h3> -->
                    <div class="info">
                        <p class="fecha">2008 - Noviembre 2017</p>
                        <p class="lugar">Valladolid, España</p>
                    </div>
                    <p class="puesto">Maquetador - ALCAÑIZ FRESNO’S</p>
                    
                    <div>
                        <p>Alcañiz Fresno's es una empresa dedicada a las artes gráficas, hace la vez de editorial como de imprenta.</p>

                        <p>Mi puesto era el de maquetador especializado en la creación de boletines oficiales y en su edición electrónica. He trabajado en los boletines oficiales del Senado, Cortes de Castilla y León, Junta de Castilla y León entre otros.<p>


                        <p>Entre mis funciones estaban las de coordinador del equipo de trabajo con dotes para la resolución de problemas; 
                        Soporte técnico físico; Diseñador de plantillas y estilos; Tester de las aplicaciones personalizadas.</p>


<!--
                         <p>Entre mis funciones estaban las de:</p>

                        <ul>
                          <li> Coordinador del equipo de trabajo con dotes para la resolución de problemas. </li>
                          <li>Soporte técnico físico.</li>
                          <li>Creador de plantillas</li>
                          <li>Tester de las aplicaciones personalizadas</li>
                        </ul>
-->      
                        <p>Mi mayor aportación a sido la creación de scripts para <strong>inDesign</strong> a través de <strong>JavaScript</strong> para la automatización del trabajo.</p>

              
                    </div>
                </div>
            </article>
            
            <article class="job">
                <div class="logo">
                    <img src="{{ prefijo }}/img/logo_fi.png">
                </div>
                <div class="texto">
                    <!-- <h3 class="empresa">FRIULINTAGLI</h3> -->
                    <div class="info">
                        <p class="fecha">Julio 2018 - Junio 2019</p>
                        <p class="lugar">Prata di Pordenone, Italia</p>
                    </div>
                    <p class="puesto">Operario de producción - FRIULINTAGLI <spam class="tag2">3 turnos</spam></p>
                    <div>
                        <p>Friul Intagli Industries S.p.A. es la mayor productora de muebles del mundo, su principal cliente es IKEA.</p>

                        <p>Mi labor consistía en la gestión de una máquina ensambladora de puertas de armarios, la carga de material y el control de calidad del producto.</p>

                        <p>Este trabajo me ha permitido desarrollar mis habilidades de trabajo en equipo con personas de diferentes nacionalidades usando el italiano como lengua común.</p>

                    </div>
                </div>
                </article>
            
{#           lo cual exigia trabajar con gran rapidez y eficacia.

      
            1#}
        </section> <!-- fin experiencia -->
        
    </div> <!-- fin row1 -->
    <!-- row2 -->
    <div class="row2">
        <section class="personal section">
                <h2 class="titulo-grande">Sobre mi</h2>
                <div class="texto">
                    <p>!Hola!, me llamo Andrés, actualmente estoy estudiando un grado superior desarrollo de aplicaciones web, busco adquirir experiencia laboral
                      en el sector del desarrollo web o programación que me permita seguir aprendiendo y poner en practica mis conocimientos.</p>

                    <p>Tengo nueve años de experiencia en el sector de las artes gráficas. Mi afición por el diseño me ha hecho interesarme por el desarrollo web.</p>

                    
                    <p>Soy una persona creativa y curiosa, me gusta aprender nuevos programas y tecnologías de forma autodidacta. </p>






<!--  Me considero una persona eficiente y atenta los detalles.
                    <p>Hola!, me llamo Andrés, diez años de experiencia en el sector de las artes gráficas. </p>
                    <p>Actualmente estoy estudiando un grado superior desarrollo de aplicaciones Web, busco adquirir experiencia laboral
                      en el sector del desarrollo web que me permita seguir aprendiendo y poner en practica mis conocimientos.</p>

                    <p>Soy una persona creativa y curiosa, me gusta aprender nuevos programas y tecnologías de forma autodidacta. Me considero una persona eficiente y atenta los detalles.</p>
-->



                </div>
        </section>   <!-- fin personal -->


        <section class="skills section">
            <h2 class="titulo-grande">HABILIDADES</h2>
            <p>Tecnologías que controlo:</p>
            <div class="tags">
                <div class="tag">Photoshop</div>
                <div class="tag">Illustrator</div>
                <div class="tag">Indesing</div>
                <div class="tag">HTLM &amp; CSS</div>
                <div class="tag">Git</div>
                <div class="tag">GREP</div>
                <div class="tag">OCR</div>
                <div class="tag">Java</div>
                <!-- <div class="tag">C#</div> -->
                <div class="tag">Impresión digital</div>
            </div>
        </section> <!-- fin skills -->
    </div> <!-- fin row2 -->
</main>

