<main class="main">        

    <!-- row1 -->
    <div class="row1">
        <section class="experiencia section">    
            <h2 class="titulo-grande" >Esperienza Lavorativa</h2>
            
            <article class="job">
                <div class="logo">
                    <img src="{{ prefijo }}/img/logo_af.png">
                </div>
                
                <div class="texto">
                    <!-- <h3 class="empresa">ALCAÑIZ FRESNO’S S.A.</h3> -->
                    <div class="info">
                        <p class="fecha">2011 - novembre 2017</p>
                        <p class="lugar">Valladolid, Spagna</p>
                    </div>
                    <p class="puesto">GRAFICO IMPAGINATORE - ALCAÑIZ FRESNO’S S.A.</p>
                    
                    <div>
                        <p>Impaginatore specializzato nella creazione di gazzette ufficiali e nella loro edizione elettronica.</p>

                        <p>Tester delle risorse tecnologiche,
                        e creatore di automatismi per inDesign attraverso JavaScript, che permettono di risparmiare molte ore di lavoro.</p>

                        <p>Coordinatore del team di lavoro e problem solving.</p>
                     
                        <p>Addetto al montaggio dei computer, all'installazione di software e alla creazione di templates e degli stili necessari.</p>
                        
 
                        <p>Ho lavorato nei Bolletini Ufficiali del Senato di Spagna, delle Corti di Castiglia e León e della Giunta di Castiglia e León tra altri.</p>
                        

                    </div>
                </div>
            </article>
            
            <article class="job">
                <div class="logo">
                    <img src="{{ prefijo }}/img/logo_fi.png">
                </div>
                <div class="texto">
                    <!-- <h3 class="empresa">FRIULINTAGLI</h3> -->
                    <div class="info">
                        <p class="fecha">Luglio 2018 - Giugnio 2019</p>
                        <p class="lugar">Prata di Pordenone, Italia</p>
                    </div>
                    <p class="puesto">OPERAIO - FRIULINTAGLI <spam class="tag2">3 turni</spam></p>
                    <div>
                        <p>Carico e gestione di macchina di assemblaggio e foratrice di ante. Questo lavoro mi dato la possibilità di migliorare l'italiano.</p>
                    </div>
                </div>
                </article>
            
            <article class="job">
                <div class="logo">
                    <img  src="{{ prefijo }}/img/logo_pinna.png">
                </div>
                <div class="texto">
                    <!-- <h3 class="empresa">A.S.D. Pinna-Sub San Vito</h3> -->
                    <div class="info">
                        <p class="fecha">Septembre 2019</p>
                        <p class="lugar">San Vito al Tagliamento, Italia</p>
                    </div>
                    <p class="puesto">Maestro di nuoto - A.S.D. Pinna-Sub San Vito <spam class="tag2">Volontario</spam></p>
                
                    <p>Allenatore di nuoto con utenti di età e capacità diverse, che mi permette di continuare a migliorare le mie competenze comunicative. </p>
                    {# <p>anche colavoro ocasionalmente con la creazione di volantini</p> #}
                </div>
            </article>
        </section> <!-- fin experiencia -->
        
    </div> <!-- fin row1 -->
    <!-- row2 -->
    <div class="row2">
        <section class="personal section">
                <h2 class="titulo-grande">Su di me</h2>
                <div class="texto">
                    <p>Ciao! sono Andrés, un giovane spagnolo con dieci anni di esperienza nel settore delle arti grafiche. Mi considero una persona efficiente e attenta ai dettagli.</p>
                    
                    <p>Vorrei crescere professionalmente nell'ambito della grafica e del web, continuare ad imparare ma anche mettere in pratica le mie conoscenze.</p>
                    
                    <p>Sono una persona creativa e curiosa, mi piace imparare nuovi programmi e tegnologie anche da autodidatta.</p>
                </div>
        </section>   <!-- fin personal -->


        <section class="skills section">
            <h2 class="titulo-grande">Skills</h2>
            <p>Tecnologie che controllo:</p>
            <div class="tags">
                <div class="tag">Photoshop</div>
                <div class="tag">Illustrator</div>
                <div class="tag">Indesing</div>
                <div class="tag">HTLM &amp; CSS</div>
                {# <div class="tag">Git</div> #}
                <div class="tag">GREP</div>
                <div class="tag">OCR</div>
                <div class="tag">Stampa digitale</div>
            </div>
        </section> <!-- fin skills -->
    </div> <!-- fin row2 -->
</main>

