<header>

    <div class="idiomas">

        {% if lengua !== "en" %}
            <a href="#">Enghish</a>
        {% endif %}

        {% if lengua !== "es" %}
            <a href="{{ prefijo }}/es/index.html">Español</a>
        {% endif %}

        {% if lengua !== "it" %}
            <a href="{{ prefijo }}/index.html">Italiano</a>
        {% endif %}

    </div>



     <div class="yoda"> 
        <p class="mierda">sdf</p>
        {# <img  src="{{ prefijo }}/img/yoda.jpg" alt="yoda"> #}
     </div> 

    <div class="titulos">
        <h1 class="nombre">Andrés Fresno</h1>
        <h2>{{ posicion }}</h2> 
    </div>
    
    <div class="links">
        <div class="box_links">
            <div>
                <div class="svg"><img src="{{ prefijo }}/img/correo.svg"></div>
                <p><a href="mailto:javfres@gmail.com">andfres@gmail.com</p>
            </div>

            <div>
                <div class="svg"><img  src="{{ prefijo }}/img/lugar.svg"></div>
                <p>San Vito al Tagliamento <br>
                Pordenone</p>
            </div>
            
            <div>
                <div class="svg"><img  src="{{ prefijo }}/img/nacido.svg" alt="{{ nacido }}"></div> 
                <p>Valladolid, {{ espana }} <br>
                21-12-1989</p> 
            </div>



        </div> {# box links #}
    </div>{#links #}

</header>
