---
"lengua": "en"
"posicion": "Web Designer"
"espana" : "Spain"
"prefijo" : ".."
---

{% extends "./componentes/base.njk" %}




{% block content %}
  <div class="box-container">

    {% include "./componentes/header.njk" %}
    {% include "./componentes/en/main.njk" %}
    {% include "./componentes/en/footer.njk" %}



  </div>

{% endblock %}

