---
"lengua": "it"
"posicion": "Web Design"
"espana" : "Spagna"
"nacido" : "nato a"
---

{% extends "./componentes/base.njk" %}




{% block content %}
  <div class="box-container">


    {% include "./componentes/header.njk" %}
    {% include "./componentes/it/main.njk" %}
    {% include "./componentes/it/footer.njk" %}


    
    <div class="thiscv">
      <small>Per la creazione di questo curriculm ho usato: HTML5 & SASS e nunjucks come template engine.
      <spam><br>
      Puoi vederlo online:

          <a href="https://andfres.github.io/cv/" class="code">
              https://andfres.github.io/cv/
          </a>
      </spam>
      </small>
    </div>



    <div class="autorizo">
        <small>Autorizzo il trattamento dei miei dati personali ai sensi del Dlgs 196 del 30 giugno 2003.</small>
    </div>


  </div> <!-- end box container -->

{% endblock %}

