---
"lengua": "es"
"posicion": "creador web"
"espana" : "España"
"prefijo" : "."
---

{% extends "./componentes/base.njk" %}




{% block content %}
  <div class="box-container">

    {% include "./componentes/header.njk" %}
    {% include "./componentes/es/main.njk" %}
    {% include "./componentes/es/footer.njk" %}

  <div class="info2">
    <div class="thiscv">
      <small>Para la creación de este resumen he usado HTML5 & SASS.
      <spam><br>
      Puedes verlo online:

        <a href="https://andfres.github.io/cv/" class="code">
            https://andfres.github.io/cv/
        </a>

      </spam>
      </small>
    </div>
  </div>

  </div> <!-- box container -->

{% endblock %}

