---
"lengua": "it"
"posicion": "Web Designer"
"espana" : "Spagna"
"nacido" : "nato a"
"prefijo" : ".."
---

{% extends "./componentes/base.njk" %}




{% block content %}
  <div class="box-container">


    {% include "./componentes/header.njk" %}
    {% include "./componentes/it/main.njk" %}
    {% include "./componentes/it/footer.njk" %}


  <div class="info2">
    <div class="thiscv">
      <small>Para la creación de este resumen he usado HTML5 & SASS.
      <spam><br>
      Puedes verlo online:

        <a href="https://andfres.github.io/cv/" class="code">
            https://andfres.github.io/cv/
        </a>

      </spam>
      </small>
    </div>
  </div>

  </div> <!-- box container -->



<!--
    <div class="autorizo">
        <small>Autorizzo il trattamento dei miei dati personali ai sensi del Dlgs 196 del 30 giugno 2003.</small>
    </div>
-->

  </div> <!-- end box container -->

{% endblock %}

